<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Text Analyzer</title>

</head>
<body>
  <div class="contact-form">
      <h1>Text Analyzer</h1>
    <br>
      <form method="POST" action = "/upload" enctype="multipart/form-data">
        <div class="form-group">
          <label class="Labels - Group">Enter your Text</label>
          <input type="text" class="form-control" placeholder="Enter Text" id="taskid" name = 'taskid' multiple required data-validation-required-message="Please Enter Text.">

        </div>
        <br><br>
        <button type="submit" class="btn btn-default" >Submit</button>
      </form>
  </div>
</body>
